
#root{
  min-height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
body{
  background-color: rgb(24,49,83);
  background-image: url("https://c4.wallpaperflare.com/wallpaper/551/801/266/map-world-map-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}